@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-curio-yellow: rgba(255, 204, 0, 1);
    --color-curio-pink: rgba(249, 174, 205, 1);
    --color-curio-lavender: rgba(190, 176, 255, 1);
    --color-curio-sky-blue: rgba(86, 221, 240, 1);
    --color-curio-lime: rgba(192, 237, 12, 1);
    --color-curio-red: rgba(252, 50, 50, 1);
    --color-curio-fuchsia: rgba(250, 50, 156, 1);
    --color-curio-purple: rgba(149, 53, 249, 1);
    --color-curio-blue: rgba(0, 80, 255);
    --color-curio-green: rgba(42, 221, 93, 1);
    --color-curio-brown: rgba(102, 4, 5, 1);
    --color-curio-plum: rgba(120, 3, 74, 1);
    --color-curio-violet: rgba(105, 25, 124, 1);
    --color-curio-navy: rgba(3, 53, 124, 1);
    --color-curio-pine: rgba(1, 76, 53, 1);

    --color-1-1: var(--color-curio-yellow);
    --color-1-2: var(--color-curio-purple);

    --color-2-1: var(--color-curio-green);
    --color-2-2: var(--color-curio-pink);

    --color-3-1: var(--color-curio-navy);
    --color-3-2: var(--color-curio-violet);

    --color-4-1: var(--color-curio-brown);
    --color-4-2: var(--color-curio-sky-blue);

    --color-5-1: var(--color-curio-purple);
    --color-5-2: var(--color-curio-pink);

    --color-6-1: var(--color-curio-fuchsia);
    --color-6-2: var(--color-curio-blue);

    --color-7-1: var(--color-curio-red);
    --color-7-2: var(--color-curio-pink);

    --color-manage-1: var(--color-curio-lavender);
    --color-manage-2: var(--color-curio-sky-blue);

    --black-line: rgba(0, 0, 0, 1);
}

html {
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-active {
    color: white !important;
    font-weight: bold;
}

.nav-links a, .nav-links button {
    @apply mx-3 text-gray-100;
}

.nav-dropdown-links a, .nav-dropdown-links button {
    @apply text-gray-600 hover:text-gray-400;
}

.modal-button {
    color: white !important;
}

.header-1 {
    background-color: var(--color-1-1);
}

.header-title-1 {
    color: var(--color-1-2);
}

.content-1 {
    background-color: var(--color-1-2);
}

.color-1 {
    background-color: var(--color-curio-yellow);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-1 {
    color: var(--color-curio-yellow);
}

.color-background-1 {
    background-color: var(--color-curio-yellow);
}

.color-2 {
    background-color: var(--color-curio-pink);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-2 {
    color: var(--color-curio-pink);
}

.color-background-2 {
    background-color: var(--color-curio-pink);
}

.color-3 {
    background-color: var(--color-curio-lavender);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-3 {
    color: var(--color-curio-lavender);
}

.color-background-3 {
    background-color: var(--color-curio-lavender);
}

.color-4 {
    background-color: var(--color-curio-sky-blue);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-4 {
    color: var(--color-curio-sky-blue);
}

.color-background-4 {
    background-color: var(--color-curio-sky-blue);
}

.color-5 {
    background-color: var(--color-curio-lime);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-5 {
    color: var(--color-curio-lime);
}

.color-background-5 {
    background-color: var(--color-curio-lime);
}

.color-6 {
    background-color: var(--color-curio-red);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-6 {
    color: var(--color-curio-red);
}

.color-background-6 {
    background-color: var(--color-curio-red);
}

.color-7 {
    background-color: var(--color-curio-fuchsia);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-7 {
    color: var(--color-curio-fuchsia);
}

.color-background-7 {
    background-color: var(--color-curio-fuchsia);
}

.color-8 {
    background-color: var(--color-curio-purple);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-8 {
    color: var(--color-curio-purple);
}

.color-background-8 {
    background-color: var(--color-curio-purple);
}

.color-9 {
    background-color: var(--color-curio-blue);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-9 {
    color: var(--color-curio-blue);
}

.color-background-9 {
    background-color: var(--color-curio-blue);
}

.color-10 {
    background-color: var(--color-curio-green);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-10 {
    color: var(--color-curio-green);
}

.color-background-10 {
    background-color: var(--color-curio-green);
}

.color-11 {
    background-color: var(--color-curio-brown);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-11 {
    color: var(--color-curio-brown);
}

.color-background-11 {
    background-color: var(--color-curio-brown);
}

.color-12 {
    background-color: var(--color-curio-plum);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-12 {
    color: var(--color-curio-plum);
}

.color-background-12 {
    background-color: var(--color-curio-plum);
}

.color-13 {
    background-color: var(--color-curio-violet);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-13 {
    color: var(--color-curio-violet);
}

.color-background-13 {
    background-color: var(--color-curio-violet);
}

.color-14 {
    background-color: var(--color-curio-navy);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-14 {
    color: var(--color-curio-navy);
}

.color-background-14 {
    background-color: var(--color-curio-navy);
}

.color-15 {
    background-color: var(--color-curio-pine);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.color-text-15 {
    color: var(--color-curio-pine);
}

.color-background-15 {
    background-color: var(--color-curio-pine);
}

.header-manage {
    background-color: var(--color-manage-1);
}

.header-title-manage {
    color: var(--color-manage-2);
}

.content-manage {
    background-color: var(--color-manage-2);
}

.header-admin {
    background-color: rgba(0, 0, 0, 1);
}

.content-admin {
    background-color: rgba(0, 0, 0, 0.5);
}

[type=radio] {
    @apply absolute opacity-0 w-0 h-0;
}

[type=radio]+div, [type=radio]+img {
    @apply cursor-pointer;
}

[type=radio]:checked+div, [type=radio]:checked+img {
    @apply outline outline-4;
    outline-color: var(--color-manage-1);
}

.revert>* {
    all: revert;
}
